<div id="container" class="containerFor">
    <div class="container1For">
        <div>
            <a class="btnFor" href="/Fornecedor/Create">
                Novo
            </a>
        </div>
    </div>
    <div class="container2For">
        <table class="TableContainerFor">
            <thead class="theadFor">
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Estado
            </th>
            <th>
                Cidade
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Fornecedor)
                {
                    <tr>
                        <td class="tdFor">@item.nome</td>
                        <td class="tdFor">@item.telefone</td>
                        <td class="tdFor">@item.estado</td>
                        <td class="tdFor">@item.cidade</td>
                        <td class="tdFor">@item.cnpj</td>
                        <td class="tdFor">
                            <div class="IconesContainerFor">
                                <div class="Icone1For">
                                    <button class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </button>
                                </div>
                                <div class="Icone2For">
                                    <button class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="containerFor">
        <div>
            <button class="btnFor BtnAzulColorFor">
                Voltar
            </button>
        </div>
    </div>
</div>

