<div id="container" class="containerPro">
    <div class="container1Pro">
        <div>
            <a class="btnPro" href="/Produto/Create"> Novo
            </a>
        </div>
    </div>
    <div class="container2Pro">
        <table class="TableContainerPro">
            <thead class="theadPro">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Unidade de Medida
            </th>
            <th>
               Estoque Atual
            </th>
            <th>
                Epermanente
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Produtos )
                {
                    <tr>
                        <td class="tdPro">@item.codigo</td>
                        <td class="tdPro">@item.descricao</td>
                        <td class="tdPro">@item.unidademedida</td>
                        <td class="tdPro">@item.estoqueatual</td>
                        <td class="tdPro">@item.epermanente</td>
                        <td class="tdPro">
                            <div class="IconesContainerPro">
                                <div class="Icone1Pro">
                                    <button class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </button>
                                </div>
                                <div class="Icone2Pro">
                                    <button class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="container3Pro">
        <div>
            <button class="btnPro BtnAzulColorPro">
                Voltar
            </button>
        </div>
    </div>
</div>


