<div id="container" class="containerSec">
    <div class="container1Sec">
        <div>
            <a class="btnSec" href="/Secretaria/Create">Novo
            </a>
        </div>
    </div>
    <div class="container2Sec">
        <table class="TableContainerSec">
            <thead class="theadSec">
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Estado
            </th>
            <th>
                Cidade
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Secretaria)
                {
                    <tr>
                        <td class="tdSec">@item.nome</td>
                        <td class="tdSec">@item.telefone</td>
                        <td class="tdSec">@item.estado</td>
                        <td class="tdSec">@item.cidade</td>
                        <td class="tdSec">@item.cnpj</td>
                        <td class="tdSec">
                            <div class="IconesContainerSec">
                                <div class="Icone1Sec">
                                    <button class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </button>
                                </div>
                                <div class="Icone2Sec">
                                    <button class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="containerSec">
        <div>
            <button class="btnFor BtnAzulColorSec">
                Voltar
            </button>
        </div>
    </div>
</div>
